# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

import time
from scipy.stats import linregress
from scipy import stats

# Import API key
from api_keys import g_key

!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [32]:
city_csv_path = "../WeatherPy/city_data_df"
city_data_df = pd.read_csv(city_csv_path)
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Main,Description,Temperature,Pressure,Humidity,Min Temp,Max Temp,Wind Speed,Wind Deg,Cloud Layer,Country,Date
0,0,auki,-8.77,160.70,Rain,light rain,84.13,1010,71,84.13,84.13,6.71,102,88,SB,1594598283
1,1,kristiansund,63.11,7.73,Clouds,scattered clouds,50.00,1019,81,50.00,50.00,13.87,240,35,NO,1594598283
2,2,kaeo,-35.10,173.78,Rain,light rain,57.99,1026,3,57.99,57.99,7.00,327,43,NZ,1594598255
3,3,rikitea,-23.12,-134.97,Clear,clear sky,71.22,1019,72,71.22,71.22,15.03,65,3,PF,1594598231
4,4,castro,-24.79,-50.01,Clear,clear sky,58.78,1016,84,58.78,58.78,5.41,311,4,BR,1594598283

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [33]:
gmaps.configure(api_key=g_key)

In [34]:
locations = city_data_df[["Lat", "Lng"]].astype(float)
humidity = city_data_df["Humidity"]

In [35]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
city_list = city_data_df["City"].tolist()
city_layer = gmaps.symbol_layer(locations, fill_color="rgba(0, 150, 0, 0.4)", stroke_color="rgba(0, 0, 150, 0.4)", scale=2, info_box_content=[f"City: {city}" for city in city_list])
fig = gmaps.figure()
fig.add_layer(city_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(city_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [39]:
nice_cities_df = city_data_df.loc[(city_data_df["Max Temp"] > 70) & (city_data_df["Max Temp"] < 85) & (city_data_df["Wind Speed"] < 14) & (city_data_df["Cloud Layer"] ==0)]
nice_cities_df.head(25)

,Unnamed: 0,City,Lat,Lng,Main,Description,Temperature,Pressure,Humidity,Min Temp,Max Temp,Wind Speed,Wind Deg,Cloud Layer,Country,Date
60,60,farah,32.50,62.50,Clear,clear sky,70.81,997,33,70.81,70.81,5.73,39,0,AF,1594598295
94,94,tatawin,32.93,10.45,Clear,clear sky,80.60,1017,51,80.60,80.60,5.82,70,0,TN,1594598072
103,103,dasoguz,41.84,59.97,Clear,clear sky,78.80,1003,36,78.80,78.80,9.17,40,0,TM,1594598303
120,120,nouadhibou,20.93,-17.03,Rain,light rain,72.64,1013,80,72.64,72.64,10.60,340,0,MR,1594598098
186,186,farah,32.50,62.50,Clear,clear sky,70.81,997,33,70.81,70.81,5.73,39,0,AF,1594598295
220,220,tatawin,32.93,10.45,Clear,clear sky,80.60,1017,51,80.60,80.60,5.82,70,0,TN,1594598072
229,229,dasoguz,41.84,59.97,Clear,clear sky,78.80,1003,36,78.80,78.80,9.17,40,0,TM,1594598303
246,246,nouadhibou,20.93,-17.03,Rain,light rain,72.64,1013,80,72.64,72.64,10.60,340,0,MR,1594598098
298,298,belize,17.25,-88.75,Clear,clear sky,84.99,1012,65,84.99,84.99,5.01,90,0,BZ,1594598688
337,337,poum,-20.23,164.02,Clear,clear sky,73.81,1017,75,73.81,73.81,8.90,87,0,NC,1594598697
381,381,abu samrah,35.30,37.18,Clear,clear sky,71.22,1002,70,71.22,71.22,12.21,226,0,SY,1594598588
382,382,serik,36.92,31.10,Clear,clear sky,78.80,1002,69,78.80,78.80,3.36,20,0,TR,1594598706
394,394,pimenta bueno,-11.67,-61.19,Clear,clear sky,77.72,1011,56,77.72,77.72,2.66,261,0,BR,1594598709
398,398,mitsamiouli,-11.38,43.28,Clear,clear sky,77.22,1014,71,77.22,77.22,4.05,152,0,KM,1594598710
454,454,sciacca,37.51,13.09,Clear,clear sky,74.48,1016,57,73.99,75.00,5.99,40,0,IT,1594598723
479,479,ayia galini,35.10,24.68,Clear,clear sky,75.85,1006,43,75.00,77.00,11.86,3,0,GR,1594598728
559,559,constantine,36.37,6.61,Clear,clear sky,71.60,1020,56,71.60,71.60,6.93,130,0,DZ,1594598745
600,600,luxor,25.70,32.64,Clear,clear sky,82.31,1003,21,82.31,82.31,9.15,313,0,EG,1594598753
621,621,baghdad,33.34,44.40,Clear,clear sky,84.20,995,35,84.20,84.20,2.24,170,0,IQ,1594598758
635,635,nushki,29.55,66.02,Clear,clear sky,73.35,1000,32,73.35,73.35,2.86,147,0,PK,1594598761
700,700,alexandria,31.22,29.96,Clear,clear sky,76.77,1006,75,76.77,76.77,11.52,306,0,EG,1594598626

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [40]:
hotel_df = nice_cities_df
hotel_df.set_index("City")
hotel_df["Hotel Name"] = ""
hotel_df

C:\Users\aclif\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,City,Lat,Lng,Main,Description,Temperature,Pressure,Humidity,Min Temp,Max Temp,Wind Speed,Wind Deg,Cloud Layer,Country,Date,Hotel Name
60,60,farah,32.50,62.50,Clear,clear sky,70.81,997,33,70.81,70.81,5.73,39,0,AF,1594598295,
94,94,tatawin,32.93,10.45,Clear,clear sky,80.60,1017,51,80.60,80.60,5.82,70,0,TN,1594598072,
103,103,dasoguz,41.84,59.97,Clear,clear sky,78.80,1003,36,78.80,78.80,9.17,40,0,TM,1594598303,
120,120,nouadhibou,20.93,-17.03,Rain,light rain,72.64,1013,80,72.64,72.64,10.60,340,0,MR,1594598098,
186,186,farah,32.50,62.50,Clear,clear sky,70.81,997,33,70.81,70.81,5.73,39,0,AF,1594598295,
220,220,tatawin,32.93,10.45,Clear,clear sky,80.60,1017,51,80.60,80.60,5.82,70,0,TN,1594598072,
229,229,dasoguz,41.84,59.97,Clear,clear sky,78.80,1003,36,78.80,78.80,9.17,40,0,TM,1594598303,
246,246,nouadhibou,20.93,-17.03,Rain,light rain,72.64,1013,80,72.64,72.64,10.60,340,0,MR,1594598098,
298,298,belize,17.25,-88.75,Clear,clear sky,84.99,1012,65,84.99,84.99,5.01,90,0,BZ,1594598688,
337,337,poum,-20.23,164.02,Clear,clear sky,73.81,1017,75,73.81,73.81,8.90,87,0,NC,1594598697,
381,381,abu samrah,35.30,37.18,Clear,clear sky,71.22,1002,70,71.22,71.22,12.21,226,0,SY,1594598588,
382,382,serik,36.92,31.10,Clear,clear sky,78.80,1002,69,78.80,78.80,3.36,20,0,TR,1594598706,
394,394,pimenta bueno,-11.67,-61.19,Clear,clear sky,77.72,1011,56,77.72,77.72,2.66,261,0,BR,1594598709,
398,398,mitsamiouli,-11.38,43.28,Clear,clear sky,77.22,1014,71,77.22,77.22,4.05,152,0,KM,1594598710,
454,454,sciacca,37.51,13.09,Clear,clear sky,74.48,1016,57,73.99,75.00,5.99,40,0,IT,1594598723,
479,479,ayia galini,35.10,24.68,Clear,clear sky,75.85,1006,43,75.00,77.00,11.86,3,0,GR,1594598728,
559,559,constantine,36.37,6.61,Clear,clear sky,71.60,1020,56,71.60,71.60,6.93,130,0,DZ,1594598745,
600,600,luxor,25.70,32.64,Clear,clear sky,82.31,1003,21,82.31,82.31,9.15,313,0,EG,1594598753,
621,621,baghdad,33.34,44.40,Clear,clear sky,84.20,995,35,84.20,84.20,2.24,170,0,IQ,1594598758,
635,635,nushki,29.55,66.02,Clear,clear sky,73.35,1000,32,73.35,73.35,2.86,147,0,PK,1594598761,
700,700,alexandria,31.22,29.96,Clear,clear sky,76.77,1006,75,76.77,76.77,11.52,306,0,EG,1594598626,

In [41]:
#response = requests.get("https://maps.googleapis.com/maps/api/geocode/json?latlng="+"32.50,62.50"+"&key="+g_key)

#first lat Lng at the top
query_url = "https://maps.googleapis.com/maps/api/geocode/json?latlng=32.50,62.50&key="+g_key
request = requests.get(query_url).json()
hotel = request["results"][0]["address_components"][0]["short_name"]

###Could not get it to work by deadline#####################################
#valid = 0
#valid_hotels = []
#kickouts = 0
#kickout_hotels = []
#
#base_url = "https://maps.googleapis.com/maps/api/geocode/json"
#
#for index, row in hotel_df.iterrows():
#query_url =  base_url + "?location=" + str(row["Lat"]) + ", " + str(row["Lng"]) + "&radius=5000&type=hotel&key=" + g_key
#
#try:
#        request = requests.get(query_url).json()
#        
#        hotel = request["results"][0]["address_components"][0]["short_name"]
#        hotel_df["Hotel Name"].append(hotel)
#        print(hotel)
#        valid += 1
#        valid_hotels.append(["hotel"])
#           
#except IndexError:
#        kickouts += 1
#        kickout_hotels.append(["short_name"])
#
#hotel_data = request.json()
#print(json.dumps(hotel_data, indent=4, sort_keys=True))

###Other Failed Lines of Leftover Code######################################        
#lat_lng =[]
#for index, rows in hotel_df.iterrows(): 
#    # Create list for the current row 
#    my_list =[rows.Lat, rows.Lng] 
#    # append the list to the final list 
#    lat_lng.append(my_list) 
#--------        
#loc_hotel_df = hotel_df[["Lat", "Lng"]].astype(float)
#lat_lng = hotel_df.iloc[:,2:4]
#response = requests.get("https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat_lng+"&key="+g_key)
#url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="{lat_lng}"&key="+g_key
#base_url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="

In [42]:
hotel

'Bala Buluk'

In [43]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [44]:
# Add marker layer ontop of heat map

#markers = gmaps.marker_layout(locations)
#fig.add_layer(markers)

# Display figure